body {
    background-image: linear-gradient(blue, green, yellow, orange);
    font-family: 'Roboto', sans-serif;
}

/* #comment-open {
    
    padding: 16px;
    height: auto;
    width: auto;
} */

.row {
    display: flex;
    flex-direction: row;
    width: 90%;
    position: relative;
    margin-top: 20px;
}

.open-button {
    z-index: 1;
    right: 0;
    top: 25%;
    position: fixed;
    transition: margin-right .5s;
    height: 65px;
}

.open-button, .open-button-sankey {
    width: 180px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.open-button-sankey {
    height: 50px;
    width: 150px;
    padding: 0px;
    background-color: #edc40e;
}

.comment-bar {
    display: none;
    background-color: #111;
    width: 0;
    z-index: 1;
    top: 25%;
    right: 0;
    position: fixed;
    transition: 0.5s;
    padding-top: 10px;
}

.comment-bar a {
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.comment-bar a:hover {
    color: #f1f1f1;
}

.comment-bar, .close-button {
    position: fixed;
    right: 0;
    top: 25%;
    font-size: 20px;
    margin-right: 25px;
}

.comments-p {
    font-size: 18px;
    text-align: left;
    width: 100%;
}

#comments {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    align-items: center;
}

.ed-slides, .project-slides, .work-slides {
    display: flex;
    flex-direction: row;
}

.ed-pics, .project-pics, .work-pics {
    height: 75%;
}

.prev, .next {
    cursor: pointer;
    position: static;
    top: 100%;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#arrows {
    margin-bottom: 50px;
    margin-top: 15px;
}

.next {
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

#professional-profiles {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    float: none;
}

#professional-text, #comment-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    opacity: .7;
}

#professional-text {
    width: 100%;
}

#work-text, #comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    opacity: .7;
    width: 60%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.project-pics, .work-pics {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.project-pics:hover, .work-pics:hover {
    opacity: 0.7;
}

.modal-1, .modal-2, #major-container {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 350px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#major-container {
    padding-top: 50px;
}

.modal-content-1, .modal-content-2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#sankey-multiple {
    display: block;
    background-color: black;
}

.modal-content-1, .modal-content-2 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.proj-close, .work-close, #sankey-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.proj-close:hover, .work-close:hover, #sankey-close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.proj-close:focus, .work-close:focus, #sankey-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}