#content {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  text-align: center;
  /* align-items: center; */
}
.row {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#profile-pic {
    width: 150px;
    height: 150px;
}

#about-text {
    width: 60%;
    height: auto;
    float: left;
    /* display: block; */
}

#about-image {
    height:auto;
    margin-left: 65%;
    width: 30%;
    /* display: block; */
}
